{% extends "base.html"%}

{% block content %}
<div class="row">
    <div class="col-sm-6">
     
        
        <h1>About</h1>
        <p>GTCO’s annual Food & Drink Festival is an annual exhibition and sales event that aims to project the diverse angles of the food industry by connecting various businesses involved in the production and sale of food related items to a cosmopolitan audience of food enthusiasts.

          There will be a wide variety of food exhibitors showcasing and selling food products ranging from fresh organic groceries to dry foods, confectionary and pastries, ready to eat consumables, top quality crockery and wine & champagnes.
          
          In addition to the exhibition and sales, the GTCO Food & Drink event will also offer culinary experiences such as food and wine tastings, cooking master classes with renowned International and Nigerian chefs, outdoor grills and thrilling entertainment.</p>
      </div>

    <div class="col-sm-6">
        <img class="img-fluid" src="{{url_for('static', filename = '/img/pounded-yam-2.jpeg')}}" alt="">
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      
      
      <hr class="d-sm-none">
    </div>
</div>
{% endblock %}