{% extends "base.html"%}

{% block content %}
<div class="row">
    <div class="col-sm-6">
     
        
        <h1>About</h1>
        <p>This is a simple website that aims to project the Nigerian and West African food industry to the cosmopolitan audience and food enthusiasts.</p>

          <p>Nigerian cuisine consists of dishes or food items from the hundreds of ethnic groups that comprise Nigeria. Like other West African cuisines, it uses spices and herbs with palm or groundnut oil to create deeply flavored sauces and soups.</p>

          <p>Nigerian feasts can be colourful and lavish, while aromatic market and roadside snacks cooked on barbecues or fried in oil are in abundance and varied.</p>
          
          
      </div>

    <div class="col-sm-6">
        <img class="img-fluid" src="{{url_for('static', filename = '/img/suya.jpeg')}}" alt="">
     <p></p>
     <br>
      
      
      <hr class="d-sm-none">
    </div>
</div>
{% endblock %}