{% extends "base.html"%}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <img class="img-fluid" src="{{url_for('static', filename = '/img/pounded-yam-2.jpeg')}}" alt="">
      <p></p>
      <!-- <h3>Some Links</h3> -->
      <p></p>
      <br>
      
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-6">
     
        
      <h3>Pounded yam & Melon soup</h3>
      <p>Pounded Yam is made from ground yam or cassava flour, egusi seeds, dried fish, palm oil, onion, garlic, and other spices. Egusi soup is a Nigerian dish that is popular in West Africa. It is made from ground melon seeds and ground beans mixed with vegetable oil, onions, tomatoes, and salt. The mixture is then boiled to a thick consistency before being served with slices of fried plantain or cassava leaves..</p>
      <br>
      <!-- <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div> -->
      <!-- <h4>Ingredients</h4>
      <p>Tuber yam,
        Yam flour,
        Boneless chicken,
        Sliced Onion (1 Medium),
        Maggi Cubes (2 pieces)</p> -->
      <div class="d-flex justify-content-around">
        <div>
          <i class='far fa-clock' style='font-size:36px'></i>
          <p>Prep</p>
          <p>14 min</p>
        </div>
        <div>
          <i class='fas fa-clock' style='font-size:36px'></i>
          <p>Cook</p>
          <p>30 min</p>
        </div>
        <div>
          <i class='fas fa-cheese' style='font-size:36px'></i>
          <p>Eat</p>
          <p>.. min</p>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="img-fluid" src="{{url_for('static', filename = '/img/Jollof_Rice_with_Stew.jpeg')}}" alt="">
      
      <p></p>
      <br>
      
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-6">
     
        
      <h3>Jollof Rice</h3>
      <p>jollof rice, is a rice dish from West Africa. The dish is typically made with long-grain rice, tomatoes, onions, spices, vegetables and meat in a single pot, although its ingredients and preparation methods vary across different regions.</p>
      <br>
      <!-- <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div> -->
      <div class="d-flex justify-content-around">
        <div>
          <i class='far fa-clock' style='font-size:36px'></i>
          <p>Prep</p>
          <p>18 min</p>
        </div>
        <div>
          <i class='fas fa-clock' style='font-size:36px'></i>
          <p>Cook</p>
          <p>45 min</p>
        </div>
        <div>
          <i class='fas fa-cheese' style='font-size:36px'></i>
          <p>Eat</p>
          <p>.. min</p>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="img-fluid" src="{{url_for('static', filename = '/img/yam_egg_sauce.jpeg')}}" alt="">
      <br>
      
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-6">
     
        
      <h3>Yam & Egg sauce</h3>
      <p>Nigerian yam and eggs recipe made with succulent boiled yam and fried eggs garnished with vegetables and sardines. Yam is highly nutritious, filling and contains less starch than potatoes.</p>
      <p>Boiled yam and fried eggs is a common breakfast choice in Nigerian homes. Yam is a popular staple in West African countries which means lots of yam are planted annually to meet this demand.</p>
      <br>
      <!-- <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div> -->
      <div class="d-flex justify-content-around">
        <div>
          <i class='far fa-clock' style='font-size:36px'></i>
          <p>Prep</p>
          <p>8 min</p>
        </div>
        <div>
          <i class='fas fa-clock' style='font-size:36px'></i>
          <p>Cook</p>
          <p>30 min</p>
        </div>
        <div>
          <i class='fas fa-cheese' style='font-size:36px'></i>
          <p>Eat</p>
          <p>.. min</p>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="img-fluid" src="{{url_for('static', filename = '/img/BOLE.jpeg')}}" alt="">
      <p></p>
      <br>
      
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-6">
     
        
      <h3>Bole & Fish</h3>
      <p>Bole refers to the roasted plantains and the fish which is usually mackerel is always inexpensive. engulfed in the pungent scent of smoked fish and sweet palm oil. The beautiful contrast of white flesh against the blackened mackerel skin, the vibrant red pepper sauce perfectly binds together with just enough heat and spice to make a grown man cry.</p>
      <br>
      <!-- <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div> -->
      <div class="d-flex justify-content-around">
        <div>
          <i class='far fa-clock' style='font-size:36px'></i>
          <p>Prep</p>
          <p>5 min</p>
        </div>
        <div>
          <i class='fas fa-clock' style='font-size:36px'></i>
          <p>Cook</p>
          <p>25 min</p>
        </div>
        <div>
          <i class='fas fa-cheese' style='font-size:36px'></i>
          <p>Eat</p>
          <p>.. min</p>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <img class="img-fluid" src="{{url_for('static', filename = '/img/Beans_Plantain.png')}}" alt="">
      <p></p>
      <br>
      
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-6">
     
        
      <h3>Beans & Fried Platain</h3>
      <p>Nigerian Beans and plantain porridge is a meal made of ripe plantains and beans. This is a tasty dish and has become popular over the years, as most parents have discovered it is a good way to get their kids to eat beans. The addition of the ripe plantains gives the meal that sweet taste that kids love so much.</p>
      <br>
      <!-- <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg">Fake Image</div> -->
      <div class="d-flex justify-content-around">
        <div>
          <i class='far fa-clock' style='font-size:36px'></i>
          <p>Prep</p>
          <p>10 min</p>
        </div>
        <div>
          <i class='fas fa-clock' style='font-size:36px'></i>
          <p>Cook</p>
          <p>45 min</p>
        </div>
        <div>
          <i class='fas fa-cheese' style='font-size:36px'></i>
          <p>Eat</p>
          <p>.. min</p>
        </div>
      </div>
    </div>
</div>



{% endblock %}