{% extends "base.html"%}

{% block content %}
<h1>Faq page</h1>
<div class="row">
    <div class="col-sm-6">
     
        <div id="accordion">

            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Where can i order Nigerian dishes in the UK?
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  Online 
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                  Can i learn to cook in a day
                </a>
              </div>
              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  Yes you can.
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                  Are they delicious
                </a>
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  Yes.
                </div>
              </div>
            </div>
          
          </div>
        
         
    </div>

    <div class="col-sm-6 pb-5 mb-5">
        <img class="img-fluid" src="{{url_for('static', filename = '/img/pounded-yam-2.jpeg')}}" alt="">
      
      
      
      <hr class="d-sm-none">
    </div>
</div>
{% endblock %}