{% extends "base.html"%}

{% block content %}
    <div class="jumbotron image-header">
        <h1>Top Nigerian Delicacies</h1>      
        <p>Delicious, tasty dishes you can trust</p>
    </div>

      <!-- row -->
    <div class="row">
        <!-- col 4 -->
        <div class="col-sm-2">
            
            <ul class="nav nav-pills flex-column">
              <li>
              <button class="btn btn-primary" onclick="darkMode()">Dark Mode</button>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li> -->
            </ul>
            <hr class="d-sm-none">
          </div>
        <!-- end col 4 -->
        <!-- col 8-->
        <!-- <div class="col-8-"> -->
        <div class="col-sm-3 pl-5">
           <img class="food-img img-fluid" src="{{url_for('static', filename = '/img/pounded-yam-2.jpeg')}}" alt="pounde egusi">
            <p>Pounded yam & Melon soup</p>
            <p class="text-secondary">Prep : 20min | Cook : 32 min</p>
        </div>
        <!-- end col -->
       <!-- col -->
       <div class="col-sm-3 pl-5">
        <img class="food-img img-fluid" src="{{url_for('static', filename = '/img/Jollof_Rice_with_Stew.jpeg')}}" alt="">
            <p>Jollof Rice</p>
            <p class="text-secondary">Prep : 18min | Cook : 45 min</p>
        </div>
        <!-- end col -->
        <div class="col-sm-3 pl-5">
            <img class="food-img img-fluid" src="{{url_for('static', filename = '/img/BOLE.jpeg')}}" alt="">
            <p>Bole & Fish</p>
            <p class="text-secondary">Prep : 5min | Cook : 25 min</p>
        </div>
        <!-- </div> -->
        <!-- end col -->
        <!-- col -->
       <!-- <div class="col-sm-3">
        <img class="food-img" src="{{url_for('static', filename = '/img/pounded-yam-2.jpeg')}}" alt="">
            <p>Jollof Rice</p>
        </div> -->
        <!-- end col -->
    </div>
  <!-- end row -->

    <!-- row -->
    <div class="row">
        <!-- col2 -->
        <div class="col-sm-2 li2">
            
            <ul class="nav nav-pills flex-column">
             
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li> -->
            </ul>
            <hr class="d-sm-none">
          </div>
        <!-- end col2 -->
        <!-- col -->
        <div class="col-sm-3 pl-5">
            <img class="food-img img-fluid" src="{{url_for('static', filename = '/img/Beans_Plantain.png')}}" alt="">
                <p>Beans</p>
                <p class="text-secondary">Prep : 10min | Cook : 45 min</p>
        </div>
        <!-- end col -->
       <!-- col -->
       <div class="col-sm-3 pl-5">
        <img class="food-img img-fluid" src="{{url_for('static', filename = '/img/yam_egg_sauce.jpeg')}}" alt="">
            <p>Yam & Egg</p>
            <p class="text-secondary">Prep : 8min | Cook : 30 min</p>
        </div>
        <!-- end col -->
       

        
       
    </div>
  <!-- end row -->

{% endblock %}